/* make it fit to page*/
.flex{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.navbar {
  ul {
    background-color: transparent
  }
  li {
    float:left;
  }
  a {
    display: block;
    padding: 8px;
    background-color: transparent;
  }
}

body{
  padding-top: 200px;
  text-align: center;
}

input{
  text-align: center;
  width: 40vw;
  height: 9vh;
  border-radius: 45px 44px 44px 44px;
  font-size: 34px;
}

button{
  margin: 11px;
  height: 5vh;
  background: #fff;
  border: #eee 1px solid;
  text-align: center;
  border-radius: 11px 0px 0px 0px}

  a{color: blue;}
  googleHome{
    margin-top: 15vh;
  }
}